<div id="<%= dom_id daftar %>">
  <p>
    <strong>Ketentuan:</strong>
    <%= daftar.ketentuan %>
  </p>

  <p>
    <strong>Setuju:</strong>
    <%= daftar.setuju %>
  </p>

  <p>
    <strong>Nomor:</strong>
    <%= daftar.nomor %>
  </p>

  <p>
    <strong>Nama lengkap:</strong>
    <%= daftar.nama_lengkap %>
  </p>

  <p>
    <strong>Nik siswa:</strong>
    <%= daftar.nik_siswa %>
  </p>

  <p>
    <strong>Jurusan:</strong>
    <%= daftar.jurusan %>
  </p>

  <p>
    <strong>Jenis kelamin:</strong>
    <%= daftar.jenis_kelamin %>
  </p>

  <p>
    <strong>Tempat lahir:</strong>
    <%= daftar.tempat_lahir %>
  </p>

  <p>
    <strong>Tanggal lahir:</strong>
    <%= daftar.tanggal_lahir %>
  </p>

  <p>
    <strong>Agama:</strong>
    <%= daftar.agama %>
  </p>

  <p>
    <strong>Status keluarga:</strong>
    <%= daftar.status_keluarga %>
  </p>

  <p>
    <strong>Anak ke:</strong>
    <%= daftar.anak_ke %>
  </p>

  <p>
    <strong>Jumlah saudara:</strong>
    <%= daftar.jumlah_saudara %>
  </p>

  <p>
    <strong>Hobi:</strong>
    <%= daftar.hobi %>
  </p>

  <p>
    <strong>cita_cita:</strong>
    <%= daftar.cita_cita %>
  </p>

  <p>
    <strong>Sd:</strong>
    <%= daftar.sd %>
  </p>

  <p>
    <strong>No hp:</strong>
    <%= daftar.no_hp %>
  </p>

  <p>
    <strong>Tempat tinggal:</strong>
    <%= daftar.tempat_tinggal %>
  </p>

  <p>
    <strong>Alamat:</strong>
    <%= daftar.alamat %>
  </p>

  <p>
    <strong>Desa:</strong>
    <%= daftar.desa %>
  </p>

  <p>
    <strong>Kecamatan:</strong>
    <%= daftar.kecamatan %>
  </p>

  <p>
    <strong>Kabupaten:</strong>
    <%= daftar.kabupaten %>
  </p>

  <p>
    <strong>Provinsi:</strong>
    <%= daftar.provinsi %>
  </p>

  <p>
    <strong>Kode pos:</strong>
    <%= daftar.kode_pos %>
  </p>

  <p>
    <strong>Nomor kk:</strong>
    <%= daftar.nomor_kk %>
  </p>

  <p>
    <strong>Nama ayah:</strong>
    <%= daftar.nama_ayah %>
  </p>

  <p>
    <strong>Tahun lahir ayah:</strong>
    <%= daftar.tahun_lahir_ayah %>
  </p>

  <p>
    <strong>Status ayah:</strong>
    <%= daftar.status_ayah %>
  </p>

  <p>
    <strong>Pekerjaan ayah:</strong>
    <%= daftar.pekerjaan_ayah %>
  </p>

  <p>
    <strong>Penghasilan ayah:</strong>
    <%= daftar.penghasilan_ayah %>
  </p>

  <p>
    <strong>Nama ibu:</strong>
    <%= daftar.nama_ibu %>
  </p>

  <p>
    <strong>Tahun lahir ibu:</strong>
    <%= daftar.tahun_lahir_ibu %>
  </p>

  <p>
    <strong>Status ibu:</strong>
    <%= daftar.status_ibu %>
  </p>

  <p>
    <strong>Pekerjaan ibu:</strong>
    <%= daftar.pekerjaan_ibu %>
  </p>

  <p>
    <strong>Penghasilan ibu:</strong>
    <%= daftar.penghasilan_ibu %>
  </p>

  <p>
    <strong>Nama wali:</strong>
    <%= daftar.nama_wali %>
  </p>

  <p>
    <strong>Tahun lahir wali:</strong>
    <%= daftar.tahun_lahir_wali %>
  </p>

  <p>
    <strong>Pekerjaan wali:</strong>
    <%= daftar.pekerjaan_wali %>
  </p>

  <p>
    <strong>Penghasilan wali:</strong>
    <%= daftar.penghasilan_wali %>
  </p>

  <p>
    <strong>No hp:</strong>
    <%= daftar.no_hp_ortu %>
  </p>

  <p>
    <strong>Nama sekolah:</strong>
    <%= daftar.nama_sekolah %>
  </p>

  <p>
    <strong>Jenjang sekolah:</strong>
    <%= daftar.jenjang_sekolah %>
  </p>

  <p>
    <strong>Status sekolah:</strong>
    <%= daftar.status_sekolah %>
  </p>

  <p>
    <strong>Lokasi sekolah:</strong>
    <%= daftar.lokasi_sekolah %>
  </p>

  <p>
    <strong>Konfirmasi:</strong>
    <%= daftar.konfirmasi %>
  </p>
</div>
