<%= form_with(model: daftar) do |form| %> <% if daftar.errors.any? %>
<div style="color: red">
  <h2>
    <%= pluralize(daftar.errors.count, "error") %> prohibited this daftar from
    being saved:
  </h2>

  <ul>
    <% daftar.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div>
  <%= form.label :ketentuan, style: "display: block" %> <%= form.text_field
  :ketentuan %>
</div>

<div>
  <%= form.label :setuju, style: "display: block" %> <%= form.check_box :setuju
  %>
</div>

<div>
  <%= form.label :nomor, style: "display: block" %> <%= form.number_field :nomor
  %>
</div>

<div>
  <%= form.label :nama_lengkap, style: "display: block" %> <%= form.text_field
  :nama_lengkap %>
</div>

<div>
  <%= form.label :nik_siswa, style: "display: block" %> <%= form.text_field
  :nik_siswa %>
</div>

<div>
  <%= form.label :jurusan, style: "display: block" %> <%= form.text_field
  :jurusan %>
</div>

<div>
  <%= form.label :jenis_kelamin, style: "display: block" %> <%= form.text_field
  :jenis_kelamin %>
</div>

<div>
  <%= form.label :tempat_lahir, style: "display: block" %> <%= form.text_field
  :tempat_lahir %>
</div>

<div>
  <%= form.label :tanggal_lahir, style: "display: block" %> <%= form.date_field
  :tanggal_lahir %>
</div>

<div>
  <%= form.label :agama, style: "display: block" %> <%= form.text_field :agama
  %>
</div>

<div>
  <%= form.label :status_keluarga, style: "display: block" %> <%=
  form.text_field :status_keluarga %>
</div>

<div>
  <%= form.label :anak_ke, style: "display: block" %> <%= form.number_field
  :anak_ke %>
</div>

<div>
  <%= form.label :jumlah_saudara, style: "display: block" %> <%=
  form.number_field :jumlah_saudara %>
</div>

<div>
  <%= form.label :hobi, style: "display: block" %> <%= form.text_field :hobi %>
</div>

<div>
  <%= form.label :cita_cita, style: "display: block" %> <%= form.text_field
  :cita_cita %>
</div>

<div>
  <%= form.label :sd, style: "display: block" %> <%= form.text_field :sd %>
</div>

<div>
  <%= form.label :no_hp, style: "display: block" %> <%= form.text_field :no_hp
  %>
</div>

<div>
  <%= form.label :tempat_tinggal, style: "display: block" %> <%= form.text_field
  :tempat_tinggal %>
</div>

<div>
  <%= form.label :alamat, style: "display: block" %> <%= form.text_field :alamat
  %>
</div>

<div>
  <%= form.label :desa, style: "display: block" %> <%= form.text_field :desa %>
</div>

<div>
  <%= form.label :kecamatan, style: "display: block" %> <%= form.text_field
  :kecamatan %>
</div>

<div>
  <%= form.label :kabupaten, style: "display: block" %> <%= form.text_field
  :kabupaten %>
</div>

<div>
  <%= form.label :provinsi, style: "display: block" %> <%= form.text_field
  :provinsi %>
</div>

<div>
  <%= form.label :kode_pos, style: "display: block" %> <%= form.number_field
  :kode_pos %>
</div>

<div>
  <%= form.label :nomor_kk, style: "display: block" %> <%= form.text_field
  :nomor_kk %>
</div>

<div>
  <%= form.label :nama_ayah, style: "display: block" %> <%= form.text_field
  :nama_ayah %>
</div>

<div>
  <%= form.label :tahun_lahir_ayah, style: "display: block" %> <%=
  form.date_field :tahun_lahir_ayah %>
</div>

<div>
  <%= form.label :status_ayah, style: "display: block" %> <%= form.text_field
  :status_ayah %>
</div>

<div>
  <%= form.label :pekerjaan_ayah, style: "display: block" %> <%= form.text_field
  :pekerjaan_ayah %>
</div>

<div>
  <%= form.label :penghasilan_ayah, style: "display: block" %> <%=
  form.text_field :penghasilan_ayah %>
</div>

<div>
  <%= form.label :nama_ibu, style: "display: block" %> <%= form.text_field
  :nama_ibu %>
</div>

<div>
  <%= form.label :tahun_lahir_ibu, style: "display: block" %> <%=
  form.date_field :tahun_lahir_ibu %>
</div>

<div>
  <%= form.label :status_ibu, style: "display: block" %> <%= form.text_field
  :status_ibu %>
</div>

<div>
  <%= form.label :pekerjaan_ibu, style: "display: block" %> <%= form.text_field
  :pekerjaan_ibu %>
</div>

<div>
  <%= form.label :penghasilan_ibu, style: "display: block" %> <%=
  form.text_field :penghasilan_ibu %>
</div>

<div>
  <%= form.label :nama_wali, style: "display: block" %> <%= form.text_field
  :nama_wali %>
</div>

<div>
  <%= form.label :tahun_lahir_wali, style: "display: block" %> <%=
  form.date_field :tahun_lahir_wali %>
</div>

<div>
  <%= form.label :pekerjaan_wali, style: "display: block" %> <%= form.text_field
  :pekerjaan_wali %>
</div>

<div>
  <%= form.label :penghasilan_wali, style: "display: block" %> <%=
  form.text_field :penghasilan_wali %>
</div>

<div>
  <%= form.label :no_hp_ortu, style: "display: block" %> <%= form.text_field
  :no_hp_ortu %>
</div>

<div>
  <%= form.label :nama_sekolah, style: "display: block" %> <%= form.text_field
  :nama_sekolah %>
</div>

<div>
  <%= form.label :jenjang_sekolah, style: "display: block" %> <%=
  form.text_field :jenjang_sekolah %>
</div>

<div>
  <%= form.label :status_sekolah, style: "display: block" %> <%= form.text_field
  :status_sekolah %>
</div>

<div>
  <%= form.label :lokasi_sekolah, style: "display: block" %> <%= form.text_field
  :lokasi_sekolah %>
</div>

<div>
  <%= form.label :konfirmasi, style: "display: block" %> <%= form.check_box
  :konfirmasi %>
</div>

<div><%= form.submit %></div>
<% end %>
